@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Playwrite AU QLD', sans-serif;
    text-align: center;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    /* Ensures padding is included in width calculation */
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form>* {
    margin-bottom: 15px;
}

form>*:last-child {
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #add8e6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #87ceeb;
}

label {
    color: #ff9dac;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

h1,
h4 {
    color: #dda0dd;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#imagePreview {
    display: none;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}