@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
    font-family: 'Playwrite AU QLD', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form>* {
    margin-bottom: 15px;
}

form>*:last-child {
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #add8e6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #87ceeb;
}

label {
    color: #ff9dac;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #dda0dd;
}